.card {
    margin-bottom: 30px;
}

.cannot-select{
    user-select: none;
}

#target {
    display: none;
}

.new-label {
    margin-top: 15px;
    margin-bottom: 15px;
}

.back-to-projects{
    margin: 20px 0 0 0;
}

.cancel-delete-project{
    margin: 20px 0 0 15px;
}