{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'css/style.css' %}">
{% endblock header %}
{% block content %}
<h2>提出したデータ</h2>

<a href="{% url 'projects' %}" class="btn btn-primary" role="button" aria-pressed="true">プロジェクト</a>
<a href="{% url 'logout' %}" class="btn btn-dark" role="button" aria-pressed="true">ログアウト</a>

<div class='container'>
    {% for item in anns_list %}
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">text：{{ item.text|truncatechars:20 }}</h5>
            <h5 class="card-title">anns：{{ item.anns| linebreaksbr| truncatewords:1 }}</h5>
            <a href="{% url 'ann_detail'  item.pk %}" class="btn btn-primary">詳細</a>
            <a href="{% url 'ann_delete'  item.pk %}" class="btn btn-danger">削除</a>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock content %}