{% extends 'base.html' %}
{% load static %}

{% block header %}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="{% static 'js/labelling.js' %}"></script>
<link rel='stylesheet' type="text/css" href="{% static 'css/style.css' %}">

{% endblock header %}

{% block content %}

{{ errormessage }}
<nav class="navbar navbar-dark bg-dark">
    <a href="{% url 'project_detail' project_pk %}" class=" navbar-brand">プロジェクト詳細</a>
    <a href="{% url 'label' project_pk %}" class="navbar-brand">ラベル編集</a>
    <a href="{% url 'projects'  %}" class=" navbar-brand">プロジェクト一覧</a>
</nav>

<div class='container'>
    <h3 class="cannot-select">{{ project.title }}</h3>
    {% for item in label_list %}
 
    <div class="label">
        {% with color=item.color %}

        <button class="btn  label-button" style="background-color: {{item.color}}">{{item}}</button>
        <span class="keybind shortcut-key">{{item.keybind}}</span>
        
        {% endwith %}
    </div>
    {% endfor%}

</div>

{% comment %}
<fieldset class="fieldset-1">
    <legend id="fieldset-1-legend">このラベルかどうか悩みましたか？
    </legend>
    <div class="radio-and-label">
    <div class="form-check radio-inline">
    <label for="radio-1" class="form-check-label">
        <input type="radio" class="form-check-input" name="group1" id="radio-1" checked />
        自信がある</label>
    </div>
    <div class="form-check raido-inline">
    <label for="radio-2" class="form-check-label">
        <input type="radio" class="form-check-input" name="group1" id="radio-2" />
        自信がない</label>
    </div>
</div>
</fieldset>
{% endcomment %}

<div class="container">

    <div class="border-line"><span class="text edit-table" id="selectable-text">{{ text }}</span></div>
    <form action='' method="post">
        {% csrf_token %}
        <input type="hidden" name="text" id="input-text" value="{{text}}" />
        <textarea class="alldata storetext" id="target" name="anns" style="display: none;"></textarea>
        <input type="hidden" name="annotator" value="{{user.id}}" />
        <input type="submit" class="btn btn-primary data-submit" value="submit">
    </form>
    <a href="javascript:history.back();" class="btn btn-dark back-to-projects">戻る</a>
</div>

<script>

    var test_data = JSON.parse("{{test_data|escapejs}}");
    
    var whole = document.getElementById('selectable-text');
    whole.innerHTML = "";
    var outer_data = [];
    var start_char =0;
    var end_char = 0;
 
    let words = test_data['words'];
    let refs = test_data['refs'];
    var start_char = 0;
    var end_char = 0;
    var label_cnt = 0;
    for(var i=0; i<words.length; i++){
        end_char += words[i].length;
        if(refs[i] != 'O'){
            var labeldata = [];
            labeldata.push(label_cnt);
            labeldata.push(words[i]);
            labeldata.push(start_char);
            labeldata.push(end_char);
            labeldata.push(refs[i]);

            var span = document.createElement("span");
            let labelName = refs[i];
            span.setAttribute("class", labelName);
            span.textContent = words[i];
            var delete_button =
                '<button class="delete btn btn-dark btn-sm" data-id=' +
                label_cnt +
                ">" +
                '<i class="fa fa-close">' +
                "</button>";
            label_cnt++;
            span.insertAdjacentHTML('beforeend', delete_button)
            whole.insertAdjacentElement('beforeend', span);
            whole.insertAdjacentHTML('beforeend', "　");
            outer_data.push(labeldata);
        }
        else{
            whole.insertAdjacentHTML('beforeend', words[i]);
            whole.insertAdjacentHTML('beforeend', "　");
        }
        end_char ++; //space
        start_char = end_char;
    }
    
 
   

</script>
{% endblock content %}


