{% extends 'base.html' %}
{% load static %}


{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'css/style.css' %}">
{% endblock header %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>ID: {{object.id}}</p>
            <p>{{ object }} を削除していいですか?</p>

            <form method="post">
                <button class="btn btn-danger">削除する</button>
                {% csrf_token %}
            </form>
        </div>
    </div>
    <a class="btn btn-dark cancel-delete-project" href="javascript:history.back();">戻る</a>
</div>


{% endblock content %}