{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'css/style.css' %}">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
<script src="{% static 'js/jquery.minicolors.js' %}"></script>
<link rel='stylesheet' type="text/css" href="{% static 'css/jquery.minicolors.css' %}">
{% endblock header %}
{% block content %}

<nav class="navbar navbar-dark bg-dark">
    <a href="{% url 'project_detail' project_pk %}" class=" navbar-brand">プロジェクト詳細</a>
    <a href="{% url 'label' project_pk %}" class="navbar-brand">ラベル</a>
    <a href="{% url 'projects'  %}" class=" navbar-brand">プロジェクト一覧</a>
</nav>
<div class='container'>
    <a href="{% url 'label_create' project_pk %}" class="btn btn-primary new-label" role="button"
        aria-pressed="true">新規作成</a>
    {% for item in label_list %}
    <div class="card">
        <h5 class="card-header">ラベル名: {{ item.name }}</h5>
        <div class="card-body">
            <h5 class="card-title">キーバインド：{{ item.keybind }}</h5>
            <h5 class="card-title" style="background-color: {{item.color}};">色：{{ item.color }}</h5>
            <a href="{% url 'label_update'  project_pk item.id %}" class="btn btn-primary">修正</a>
            <a href="{% url 'label_delete'  project_pk item.id %}" class="btn btn-danger">削除</a>

        </div>
    </div>
    {% endfor %}
    <a href="{% url 'project_detail'  project_pk %}" class="btn btn-primary">プロジェクトに戻る</a>
</div>
{% endblock content %}