{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'css/style.css' %}">
<link rel='stylesheet' type="text/css" href="{% static 'css/bulma.css' %}">
{% endblock header %}
{% block content %}

{% if all_flag == "true" %}
<h2>すべてのプロジェクト</h2>
{% else %}
<h2>自分のプロジェクト</h2>
{% endif　%}

{% if  all_flag == "true" %}

<a href="{% url 'projects'  %}?all=false" class="btn btn-primary" role="button" aria-pressed="true">自分のプロジェクト</a>
{% else %}
<a href="{% url 'projects'  %}?all=true" class="btn btn-primary" role="button" aria-pressed="true">すべてのプロジェクト</a>
{% endif %}
<a href="{% url 'project_create' %}" class="btn btn-primary" role="button" aria-pressed="true">新規作成</a>
<a href="{% url 'anns'   %}" class="btn btn-primary">提出されたデータ</a>
<a href="{% url 'logout' %}" class="btn btn-dark" role="button" aria-pressed="true">ログアウト</a>

<div class='container'>
    {% for item in project_list %}
    <div class="card">
        <h5 class="card-header">{{ item.title }}</h5>
        <div class="card-body">
            <h5 class="card-title">概要：{{ item.description }}</h5>
            <a href="{% url 'project_detail'  item.pk %}" class="btn btn-primary">詳細</a>
            <a href="{% url 'project_delete'  item.pk %}" class="btn btn-danger">削除</a>
        </div>
    </div>
    {% endfor %}
</div>

<div class="paginator">
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
        {% if project_list.has_previous %}
        <a class="pagination-previous" href="?all={{all_flag}}&p={{ project_list.previous_page_number }}">前へ</a>
        {% endif%}
        {% if project_list.has_next %}
        <a class="pagination-next" href="?all={{all_flag}}&p={{ project_list.next_page_number }}">次へ</a>
        {% endif%}
        <ul class="pagination-list">
            {% if project_list.has_previous %}
            {% if project_list.previous_page_number != 1 %}
            <li><a class="pagination-link" href="?all={{all_flag}}&?p=1">1</a></li>
            <li><span class="pagenation-ellipsos">&hellip;</span></li>
            {% endif %}
            <li><a class="pagination-link"
                    href="?all={{all_flag}}&p={{ project_list.previous_page_number }}">{{project_list.previous_page_number }}</a>
            </li>
            {% endif%}
            <span>
                <li class="pagination-link is-current">{{ project_list.number}}</li>
            </span>
            {% if project_list.has_next %}
            <li><a class="pagination-link"
                    href="?all={{all_flag}}&p={{ project_list.next_page_number }}">{{ project_list.next_page_number }}</a>
            </li>
            {% if project_list.next_page_number !=  project_list.paginator.num_pages %}
            <li><span class="pagenation-ellipsos">&hellip;</span></li>
            <li><a class="pagination-link"
                    href="?all={{all_flag}}&p={{ project_list.next_page_number }}">{{project_list.paginator.num_pages}}</a>
            </li>
            {% endif %}
            {% endif%}
        </ul>

    </nav>
</div>
{% endblock content %}