{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'css/style.css' %}">
{% endblock header %}

{% block content %}

{{ errormessage }}
<nav class="navbar navbar-dark bg-dark">
    <a href="{% url 'project_detail' project_pk %}" class=" navbar-brand">プロジェクト詳細</a>
    <a href="{% url 'label' project_pk %}" class="navbar-brand">ラベル</a>
    <a href="{% url 'projects'  %}" class=" navbar-brand">プロジェクト一覧</a>
</nav>
<div class='container'>
    <div class="card">
        <h5 class="card-header">{{ object.title }}</h5>
        <div class="card-body">

            <h5 class="card-title">概要：{{ object.description }}</h5>
            <h5 class="card-title">投稿者：{{ object.author }}</h5>
            <h5 class="card-title">テキストURL：{{ object.text_file.url }}</h5>
            <h5 class="card-title">テキスト：
                {% for line in text %}
                {{ line }}
                <br>
                {% endfor %}
            </h5>
            <h5>project_pk: {{ project_pk }}</h5>

            <a href="{% url 'projects' %}" class="btn btn-primary">戻る</a>
            <a href="{% url 'label' project_pk %}" class="btn btn-primary">ラベル編集</a>
            <a href="{% url 'work' object.pk %}" class="btn btn-primary">ラベル付けする</a>
        </div>
    </div>
</div>
{% endblock content %}