{% extends 'base.html' %}
{% load static %}

{% block header %}
<link rel='stylesheet' type="text/css" href="{% static 'css/style.css' %}">
{% endblock header %}

{% block content %}

{{ errormessage }}
<nav class="navbar navbar-dark bg-dark">
    <a href="{% url 'project_detail' project_pk %}" class=" navbar-brand">プロジェクト詳細</a>
    <a href="{% url 'label' project_pk %}" class="navbar-brand">ラベル編集</a>
    <a href="{% url 'projects'  %}" class=" navbar-brand">プロジェクト一覧</a>
</nav>
<div class='container'>
    <a href="{% url 'projects' %}" class="btn btn-secondary">戻る</a>
    <div class="card">
        <h5 class="card-header">{{ object.title }}</h5>
        <div class="card-body">

            <h5 class="card-title">概要：{{ object.description }}</h5>
            <h5 class="card-title">投稿者：{{ object.author }}</h5>
            <h5 class="card-title">進捗度：{{done_num}} / {{ whole_num }}</h5>
            <table class="margin-test">
            <tbody>
            <h5 class="card-title">
                {% for sentence in sentences %}
                <tr >
                <td class="text-row-and-label">{{ sentence }}</td>
                <td class="text-row-and-label" width="200px"><a href="{% url 'submit' object.pk sentence.pk %}" class="btn btn-primary">ラベル付けする</a></td>
                <td class="text-row-and-label">
                    {% for done_pk in done_pks %}
                    {% if done_pk == sentence.pk %}
                        <span class="badge badge-success">Submitted!</span>
                    {% endif %}
                {% endfor %}
                </td>
                </tr>
                
                {% endfor %}
            </h5>
            </tbody>
            </table>
            <a href="{% url 'projects' %}" class="btn btn-secondary">戻る</a>
            <a href="{% url 'project_update' project_pk %}" class="btn btn-primary">プロジェクト編集</a>
            <a href="{% url 'label' project_pk %}" class="btn btn-primary">ラベル編集</a>

        </div>
    </div>
</div>

{% endblock content %}